body {
	background-image: url("https://i.pinimg.com/originals/ac/c8/78/acc8784dc68ed39439f15f257ba93691.jpg");
	background-size: cover
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-opacity: 0.5;
	alignment-adjust: central, auto;
}

#blase {
	width: 25%;
	height: 25%;
	position: absolute;
	z-index: 1;
	left: 1100px;
	top: 90px;
}

#muschel {
	width: 50%;
	height: 50%;
	border-radius:12px;
	border: solid 3px #DB7093 ;
	padding: 1px;
	margin-top: 4em; 
}

#answer {
	position: absolute;
	z-index: 2;
	left: 1190px;
	top: 125px;
	color: #DB7093;
}

intro {
	}
	
div {
	font-family: Garamond, serif;
	font-size: 120%;
	column-gap: length;
	text-align: center;
	color: #FFFaFa;
	margin-top: 1em;
	margin-bottom: 1em;
}

button {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #db7093 5%, #eb86a7 100%);
	background-color:#db7093;
	border-radius:15px;
	border: 3px solid #DB7093;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Garamond, serif;
	font-size: 105%;
	font-weight:bold;
	padding:0.5em 2em;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-left: 0.4em;
}
button:hover {
	background:linear-gradient(to bottom, #eb86a7 5%, #db7093 100%);
	background-color:#eb86a7;
}
button:active {
	position:relative;
	top:1px;
}


/*button {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #87cfeb 5%, #468ccf 100%);
	background-color:#87cfeb;
	border-radius:12px;
	border: 3px solid #DB7093;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Garamond, serif;
	font-size: 105%;
	font-weight:bold;
	padding: 0.5em 2em;
	margin-left: 0.4em;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
button:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #87cfeb 100%);
	background-color:#468ccf;
}
button:active {
	position:relative;
	top:1px;
}*/



/*{
	
	font-family: Garamond, serif;
	font-size: 105%;
	background-color: #FFFFFF;
	color: #87CEEB; font-weight: bold;
	margin-left: 0.4em;
	padding-top: 0.5em;
	padding-right: 2em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	}*/

input {
	border-radius:12px;
	margin-top: 1%;
	padding-top: 0.5em;
	padding-right: 2em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	font-family: Garamond, serif;
	font-size: 105%;
	border: solid 3px #DB7093 ;
	}