/* ACHTUNG! Man sollte alle Hilfskommentare hier herauslöschen, bevor man das CSS
 * produktiv nutzt, damit die Datei so klein wie möglich bleibt.
 */

 /* NORMALISIERUNG:
    Manche WebDesigner stellen die margins und paddings aller Elemente auf 0, um eine einheitliche Darstellung zu erreichen, andererseits muss man dann ALLES wieder neu formatieren.
	box-sizing für alle Elemente ist jedoch sehr sinnvoll, da man damit Rahmen und Innenabstände automatisch in der Breite einschließt und so leichter layouten kann. */ 
* {    
	box-sizing: border-box;
}


/* -- Allgemeines -- */
html {
  background-color:white;
  background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, darkgreen 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, darkgreen 10px, rgba(96, 16, 48, 0) 11px),
    #b3cba2;
  background-size: 20px 20px;/* Hier sollte man, auch wenn man ein Bild als Hintergrund hat, nicht vergessen die Hintergrundfarbe zu setzen. Es könnte nämlich sein dass man aus Versehen für den Text die gleiche Farbe hat wie für den Hintergrund wobei die Leute mit ausgeschalteten Bildern nichts erkennen können. Andererseits verwendet man heute eher durch CSS erzeugte Muster und Verläufe, um die Ladezeit für Bilder zu sparen.*/
  color: black;
}

body {
  margin: 0 auto;
  padding: 1%; /* Ein wenig Abstand, damit der Anschein eines Blattes auf der Wand immer erhalten bleibt. */
  max-width: 75em; /* Eine Begrenzung der Breite auf höhstens 75em. Das machen wir um nicht zu lange Textbreiten zu erhalten, welche dann schlecht zu lesen sind. */
  font-family: verdana, arial, sans-serif ;
  font-size: 0.8em; /* Ein Kompromiss über den man sicherlich streiten kann, aber viele Leute empfinden die von Ihnen im Browser selbst eingestellte Textgröße für zu groß, wissen aber nicht wie man das ändert. */
  border: 1px solid #aaa; /* Eine kleine optische Abgrenzung. */
  border-top: 0; /* Ganz oben allerdings würde es mit dem grauen Rand komisch aussehen, deshalb weg damit. */
  background: white;
}

.skip { /* Da ein wichtiger Screenreader das display: none; auch für sich versteht und nichts vorliest, obwohl das hier sich vor allem an Blinde richtet, muss man es so lösen, dass man diesen Link außerhalb des Sichtfeldes bringt. Somit wird er trotzdem vorgelesen. */
  position: absolute;
  margin-left: -999px;
}


/* - Logo bzw. Kopf - */
header {
  background: url(../img/Blume.jpg) 0 0 no-repeat black; /* Das Bild mit der Blume hat einen Übergang zum Schwarzen, das nutzen wir aus. Wir lassen es oben links beginnen und wiederholen es nicht. Dadurch, dass die Hintergrundfarbe auch schwarz ist, entsteht der Eindruck, als ob das Bild unendlich lang wäre. */
  height: 64px; /* Das Blumenbild ist 64px hoch also wählen wir das auch als Höhe für unseren Kopf. */
  margin: 0; /* Manche Browser haben das schon voreingestellt aber nicht alle, deshalb vereinheitlichen wir das. */
  padding: 0 1em;
  text-align: right;
  line-height: 54px;
  font-size: 4em; /* Das Logo soll auch in unseren Kopf passen, deswegen ist es ein wenig kleiner. */
}
header a#logo {
  color: white; /* Die vorher eingestellte Farbe passt nicht um auch als Logofarbe zu dienen, deshalb wählen wir hier weiß. */
  text-decoration: none;
}
header a#logo span { /* Der letzte Buchstabe soll invertiert dargestellt werden. */
  color: black;
  background: white;
  padding-right: 0.1em; /* Ein Hack, damit das weiße rechts und links genau so breit ist. */
  font-weight: bold;
}
a { color: #0B4D8C; text-decoration: underline; } /* Alle unbesuchten Links bekommen eine leicht bläuliche Farbe und werden unterstrichen, damit man Sie gleich im Text erkennt. */
a:visited { color: black; } /* Besuchte Links werden schwarz, bleiben dennoch unterstrichen. Somit erkennt man wo man sich schon befunden hat. */
a:focus {background-color: yellow;}

/* - Der Hauptinhaltsteil - */
main {
  padding: 0 2%; 
  line-height: 1.5em; /* Zur besseren Lesbarkeit erhöhen wir die Zeilenhöhe. */
}

section{display : inline-block;width:73%;}

/* - Sidebar, Rechte Spalte - */
aside {
  width: 25%; /* Je kleiner das Fenster desto kleiner soll auch die Breite der Sidebar werden, damit immer genügend Platz für den richtigen Inhalt bleibt. */
  float: right; /* Damit erreichen wir, dass der Inhalt links neben der Sidebar vorbeifließt und nicht erst unten drunter anfängt. */
  clear:right;
  display : inline-block;
  padding: 0em 1% 1em;
  margin: 10em 1% 0 1%;
  border-left: 1px dotted #aaa; /* Hiermit trennen wir optisch die Sidebar vom eigentlichen Inhalt ab. */
  font-size: 0.9em; /* Die Schriftgröße setzen wir hier ein wenig herunter damit erkennbar wird, dass das Informationen zweiter Rangordnung sind. */
}
aside dt { /* Die einzelnen Überschriften in der Sidebar */
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.5em;
  margin-top: 1em;
  border-top: 1px dotted #aaa; /* Hier eine optische Trennungslinie zwischen den einzelnen Bereichen der Sidebar. */
}
aside dd { /* Die Unterpunkte der Sidebar. */
  padding: 0;
  margin: 0.2em 0;
}

h1 { /* Die Überschrift jeder Seite stellen wir besonders da, denn sie ist sehr wichtig. */
  font-size: 2.7em;
  font-weight: normal;
  line-height: 0.8em;
  padding: 0.6em 0 0.2em 2%;
  margin: 0;
  border-bottom: 1px dashed #E6E6FA;
}
h2, h3, h4 { font-weight: normal; }
h1, h2, h3, h4, h5, h6 { /* Alle Überschriften bekommen eine besondere Farbe, und da sie sehr groß sind, können wir es uns erlauben hier eine Schrift mit Serifen zu wählen. Wir spielen hier ein wenig mit Typographie, und entgehen dem Einheitsbrei auf vielen Seiten. */
  color: #6699CC;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*DL, DT, DD Datenliste*/
dl 	{ margin-bottom:50px;}
 
dl dt {	
    float:left;
    font-weight:bold;
    margin-right:5px;
    padding:5px; 
    width:50%;
}
 
dl dd {
    margin:2px 0;
    padding:5px 0;
}

img { /* Alle Bilder bekommen einen schönen Rahmen. */
  border: solid 1px #aaa;
  padding: 1px;
}

.fleft { /* Sachen, an denen der Text vorbeifließen soll, werden diese Klassen zugewiesen. */
  float: left;
  margin: 0 1em 0.2em 0; /* Man sollte einen schönen Abstand wählen, sonst kleben die Sachen so am Text. */
  width: 33%;
}
.fright {
  float: right;
  margin: 0 0 0.2em 1em;
  width: 33%
}


/* -- Layoutspezifisches -- */

footer {
  clear: both; /* Damit #main mindestens so hoch ausgedehnt wird wie aside, falls aside länger sein sollte. */
  padding: 2%;
  text-align:center;
  border-top: 1px dotted #aaa; /* Hiermit trennen wir optisch den footer vom eigentlichen Inhalt ab. */
}

footer .copy span {
	margin:0 auto;
	display:block;
}


/* - Menü - */
nav ul {
  background: repeating-linear-gradient(to right, darkgreen 10px, green 15px, darkgreen 20px, #287635 32px);
  padding: 5px 5%; /* Je kleiner das Fenster desto kleiner soll auch der Abstand des Menüs rechts und links sein. */
  margin: 0;
  text-align: right;
  color: yellow; /* Hier definieren wir die Farbe des Menüpunktes, der kein Link ist, also den Menüpunkt der Seite auf der wir uns gerade befinden. */
}
nav ul li {
  font-size: 1.2em;
  display: inline; /* Damit die Menüpunkte nebeneinander und nicht untereinander erscheinen. */
  list-style-type: none; /* Die Bullets vor den Menüpunkten schalten wir ab. */
  border-left: 1px solid white; /* Ein optischer Trennungsstrich */
  padding: 0 .5em 0 .5em;
  font-weight: bold;
}
nav ul li a {
  color: white; /* Hier ist das mit der Linkfarbe genauso, sie soll weiß sein. */
  padding:0.1em 1em;
  border-radius:0.2em;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {   /* Wenn der Link durch Maus oder Tastatur aktiviert wird, leuchtet er gelb auf! */
	color:green;
	background:yellow;
	opacity:0.8;
}

/* 1-Spaltenlayout  mit Navigation unten*/
@media only screen and (max-width: 600px) {
nav ul {
	display:block; 
	background:transparent;				/*Der grüne Schatten wird deaktiviert, stattdessen wird nav ul li a mit grünem Hintergrund sichtbar! */
	margin: 1em 0;
}
nav ul li{width:90%;margin: 5px 0;  }   /* Damit man auf SmartPhones navigieren kann, werden die Menüpunkte jetzt über 90% der Screen-Breite gezogen */
nav ul li.active{padding:0 2em; background:green; border-radius:10px;}
nav ul li a{display:inline-block;width:100%; color:white; background:green; margin:5px 0; border-radius:10px;text-align:center;}
nav ul li a:after{display:none;} 

section, 				/* kein Spalten-Layout mehr, alles wird untereinander dargestellt*/
section.spalte, 
aside {
	float:none;
	display:block;
	width:100%;
}


.fleft,.fright {		/*Damit die Bilder jetzt nicht zu klein werden, nehmen sie die halbe Breite des Bildschirms ein.*/
	width:50%;
}
}

